{% extends 'master' %}

{% block scripts %}
<script src="/scripts/popup_login.js"></script>
{% endblock %}

{% block content %}
 
 <div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-success">
                <div class="panel-heading">Ötletek listája</div>
                    
                    {% if currentUser %}
                       <div class="row">

                        {% for c in category %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="panel panel-primary">
                            <div class="panel-heading">{{ c.name }}</div>
                            <ul class="list-group">
                                {% for p in project %}
                                {% if p.categories_id == c.id %}
                                <li class="list-group-item">
                                <a href="/project/{{ p.id }}">
                                    {{ p.name }}
                                </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            </div>
                        </div>
                        {% endfor %}

                        </div>                      

                    {% endif %}
                    
            </div>
            
            {% if not currentUser %}
              <a href="/login" class="btn btn-info"> Jelenkezz be előbb >></a>
            {% endif %}
            
        </div>
    </div>
</div>

{% endblock %}
